/target
/docs
/lib
/priv.key
/priv-*.key
/*.log
/*.html
/*.wallet
/*.spvchain
bitcoind.pid
/regtest
/regtest-server
/mainnet
/testnet
/catena-client
/catena-server
/catena-testnet-server
/catena-testnet-client
/backup
/config.ini
/logs.txt
/mainnet-server
/testnet-server
